target
lib
*.debug
classes
checkouts
logs
pom.xml
pom.xml.asc
\#*
.\#*
.emacs*
*.class
.password
.dev
tmp
third-party
local_repo
data
nohup.out
output
~*
python
tmp
build
cover
.coverage
static
*.pyc
